body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;

}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


.pic{
    float: left;
    width: 100%;
}

.wp{
    width: 100%;
    border-bottom: 1px solid #d5d5d5;
    text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
}

.wp-picture{
    width: 16.66666667%;
}

.wp-text{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    width: 70.33333333%;
    text-align:justify;
    font-size: 1.2em;
    line-height: 1.2em;
    color: #333;
}

.page-404{
    position: absolute;
    text-align: center;
    color: white;

}

.page-404 > img{
    width: 100%
}

.page-404 .error-text {
    position: absolute;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    width: 100%;
    font-size: 1.1em;
    line-height: 1.2em;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


.theses, .wrapper{
    display: flex;
  justify-content: space-around;
}

.thesis{
    border-bottom: 1px solid #d5d5d5;
    width: 100%;
    text-align: center;
  display: flex;
  flex-direction: row;
  align-items: top;
  padding-bottom: 20px;
  padding-right: 10px;

}

.thesis-picture{
    width: 100%;
    vertical-align:top;
    align-items: start
}

.thesis-text{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    width: 100%;
    text-align:left;
    font-size: 1.1em;
    line-height: 1.2em;
    color: #333;
}

.basic-text{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    width: 100%;
    text-align:justify;
    font-size: 1.1em;
    line-height: 1.2em;
    color: #333;
}

.abstract{
    text-align:justify;
    font-size: 0.7em;
    line-height: 0.9em;
    color: #333;
}

.links{
    border-bottom: 1px solid #d5d5d5;
    width: 100%;
    text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
  direction: rtl
}

.link-text{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    width: 50%;
    text-align:center;
    font-size: 9pt;
    line-height: 1.2em;
    padding-right: 5px;
    color: rgb(223, 89, 89);
}

.publications, .wrapper{
    display: flex;
  justify-content: space-around;
}

.publication{
    border-bottom: 1px solid #d5d5d5;
    width: 100%;
    text-align: center;
  display: flex;
  flex-direction: row;
  align-items: top;
  padding-bottom: 5px;
  padding-right: 10px;

}

.publication-img{
    vertical-align:top;
    float: right;
    width: 10%;
}

/* .publication-pdf{
    vertical-align:center;
    width: 3%;
}

.publication-pdf:hover {
    background: url("/images/pdf-clipart-hovered.png") no-repeat;
} */

.publication-pdf {
    position: relative;
    width: 50px;
    vertical-align:bottom;
    display: flex;
    align-items: flex-end;
    float: right;
    /* border: 2px solid black; */
}
.publication-pdf .img-top {
    position: absolute;
    vertical-align:bottom;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}

.publication-pdf:hover .img-top {
    opacity: 1;
}

.publication-pdf > img {
    vertical-align:bottom;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

/* .publication-pdf {
    position: relative;
    float: right;
}
.publication-pdf .img-top {
    position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      object-fit: contain;
      opacity: 0;
      transition: opacity .2s;

}
.publication-pdf:hover .img-top {
    opacity: 1;
}

.publication-pdf > img {
    vertical-align:top;
    width: 10%;

} */

.publication-text{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    max-width: 100%;
    width:70%;
    text-align:left;
    font-size: 1.0em;
    line-height: 1.2em;
    color: #333;
    /* border: 2px solid black; */
}

.publication-text .authors-text{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    max-width: 90%;
    text-align:left;
    font-size: 1.0em;
    line-height: 1.2em;
    color: #333;
    /* border: 2px solid black; */
}

.publication-text > h2{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    width: 80%;
    text-align:left;
    font-size: 1.4em;
    line-height: 1.2em;
    color: #333;
}

.publication-type-book-chapter{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    width: 100%;
    text-align:center;
    font-size: 0.8em;
    line-height: 1.2em;
    color: #333;
    border-radius: 10px;
    background-color: rgba(185, 241, 94, 0.514);
    padding: 1px 6px;
    margin: 0;
    width: 10%
}

.publication-type-conference{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    width: 100%;
    text-align:center;
    font-size: 0.8em;
    line-height: 1.2em;
    color: #333;
    border-radius: 10px;
    background-color: rgba(94, 194, 241, 0.514);
    padding: 1px 6px;
    margin: 0;
    width: 10%
}

.publication-type-journal{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    width: 100%;
    text-align:center;
    font-size: 0.8em;
    line-height: 1.2em;
    color: #333;
    border-radius: 10px;
    background-color: rgba(199, 94, 241, 0.514);
    padding: 1px 6px;
    margin: 0;
    width: 10%
}

.publication-type-arxiv{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    width: 100%;
    text-align:center;
    font-size: 0.8em;
    line-height: 1.2em;
    color: #333;
    border-radius: 10px;
    background-color: rgba(241, 94, 94, 0.514);
    padding: 1px 6px;
    margin: 0;
    width: 10%
}

details > summary {
    list-style: none;
  }
  
.details-bibtex{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    width: 100%;
    text-align:center;
    font-size: 0.8em;
    line-height: 1.2em;
    color: #333;
    /* border-radius: 10px; */
    /* background-color: rgba(185, 241, 94, 0.514); */
    border: 2px solid black;
    padding: 4px 6px;
    margin: 0;
    margin-top: 5px;
    width: 10%;
}

.details-bibtex:hover{
    background-color: rgba(185, 241, 94, 0.514);
    border: 0px  rgba(185, 241, 94, 0.514);
    cursor: pointer;
/*     opacity: 0;
    transition: opacity .2s; */
}
.bibtex-text{
    border-radius: 10px;
    background-color: rgba(204, 228, 235, 0.178);
    padding: 2px 6px;
    margin: 0;
    width: 70%;
    word-wrap: break-word;
}


