---
layout: default
title: Supervised Theses
---
    <h1>{{ page.title }}</h1>
    
    <p>Thus far, I have supervised 12 theses, 10 undergrad theses and 2 master theses</p>



    <h2> 2020 </h2>
    <ul class="theses">
        
        {% for thesis in site.indThesis %}
            {% if thesis.year == '2020' %}

            <div class="thesis">
                <!-- <div class="thesis-picture">
                    <img class="pic" src={{thesis.thesis_img}} align="middle"/>
                </div> -->
                <div class="thesis-text">
                    <strong>{{thesis.author}}</strong>

                    <br>

                    <strong>Title:</strong> {{thesis.title}}
                    
                    <br>


                    <div class="links"> 
                        <a class="link-text" href="https://github.com/{{site.github_username}}">bibtex</a>
                        <a class="link-text" href="http://muep.mau.se/bitstream/handle/2043/32141/Alexander%20Flodhag%20Simon%20Tolinsson.pdf?sequence=1&isAllowed=y"  target="_blank">
                            thesis</a>
                        <a class="link-text" href="https://github.com/{{site.github_username}}">pdf</a>
                    </div>
            
                </div>
            </div>
            {% endif %}
	         {% endfor %}
        </ul>


    
    <h1>{{ page.title }}</h1>
	<ul class="posts">

	  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
    </ul>