---
layout: default
title: Supervised Theses
---
    <h1>{{ page.title }}</h1>
    
    <p class="basic-text">I am interested in supervising projects and theses on the area of Artificial Intelligence, Game Design, and their intersection, 
        as well as projects using emerging technologies such as VR or AR. Usually, I conduct supervision as weekly group supervision where students can help 
        and learn from each other while also conducting peer-reviewing of each other's chapters (every 2-3 weeks) to be in time with deadlines and the written work. 
        Nevertheless, students can always have individual supervision sessions whenever needed. I try to improve and adapt my supervision and teaching with 
        what I learn overtime and what work and doesn't work. If you want to discuss supervision/teaching methods or have any thoughts on alternative ways on doing so, 
        I would love to chat and discuss about it. If you are interested in co-supervising bachelor 
        or master students with some industry or academic project feel free to contact me aswell!
         at: alberto dot alvarez at mau dot se </p>

    <p class="basic-text">Thus far, I have supervised 18 theses, 5 M.Sc theses (co-supervised) and 13 Computer Science bachelor theses, and examined as many. You can find them below: </p>

  <h2> Master Student Theses </h2>

        {% assign var = 0 %}
        {% for thesis in site.indThesis %}
            

            {% if thesis.type == 'master' %}
                {% if var == 0 %}
                    <ul class="theses">
                {% endif %}

                <div class="thesis">
                    <!-- <div class="thesis-picture">
                        <img class="pic" src={{thesis.thesis_img}} align="middle"/>
                    </div> -->

                    <div class="thesis-text">

                        {{thesis.title}}

                        <br>

                        
                        <strong>{{thesis.author}}</strong>
                        
                        <br>
                        
                        {{thesis.place}}, {{thesis.year}}
                        
                        <br>

                        <span class="post-tags">
                            [&nbsp;
                            {% for tag in thesis.tags %}
                            {% capture tag_name %}{{ tag }}{% endcapture %}
                            <a class="no-underline" href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>    
                            {% endfor %}
                            ]
                        </span>
                        <a class="link-text" href={{thesis.thesis_url}}  target="_blank">
                            thesis</a>
    <!-- 
                        <br>


                        <div class="links"> 
                            <a class="link-text" href="https://github.com/{{site.github_username}}">bibtex</a>
                            <a class="link-text" href="http://muep.mau.se/bitstream/handle/2043/32141/Alexander%20Flodhag%20Simon%20Tolinsson.pdf?sequence=1&isAllowed=y"  target="_blank">
                                thesis</a>
                            <a class="link-text" href="https://github.com/{{site.github_username}}">pdf</a>
                        </div> -->
                
                    </div>
                </div>
                
            {% if var == 2 %}
                </ul>
            {% endif %}

            {% if var == 0 %}
                {% assign var = 1 %}
            {% elsif var == 1 %}
                {% assign var = 2 %}
            {% else %}
                {% assign var = 0 %}
            {% endif %}

            {% endif %}


        {% endfor %}

    </ul>        

    <h2> Undergrad Student Theses </h2>

        {% for thesis in site.indThesis %}
            

            {% if thesis.type == 'undergrad' %}
                <ul class="theses">

                <div class="thesis">
                    <!-- <div class="thesis-picture">
                        <img class="pic" src={{thesis.thesis_img}} align="middle"/>
                    </div> -->

                    <div class="thesis-text">

                        {{thesis.title}}

                        <br>

                        
                        <strong>{{thesis.author}}</strong>
                        
                        <br>
                        
                        {{thesis.place}}, {{thesis.year}}
                        
                        <br>

                        <span class="post-tags">
                            [&nbsp;
                            {% for tag in thesis.tags %}
                            {% capture tag_name %}{{ tag }}{% endcapture %}
                            <a class="no-underline" href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>    
                            {% endfor %}
                            ]
                        </span>
                        <a class="link-text" href={{thesis.thesis_url}}  target="_blank">
                            thesis</a>
    <!-- 
                        <br>


                        <div class="links"> 
                            <a class="link-text" href="https://github.com/{{site.github_username}}">bibtex</a>
                            <a class="link-text" href="http://muep.mau.se/bitstream/handle/2043/32141/Alexander%20Flodhag%20Simon%20Tolinsson.pdf?sequence=1&isAllowed=y"  target="_blank">
                                thesis</a>
                            <a class="link-text" href="https://github.com/{{site.github_username}}">pdf</a>
                        </div> -->
                
                    </div>
                </div>
            </ul>   
            {% endif %}
            {% endfor %}

     